html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0;
    overflow: hidden;
    display: block;
}

h1 {
    text-align: center;
    background-color: #B22222;
    height: 70px;
    color: black;
    margin: 0 0 -29px 0;
    padding-top: 14px;
    border-radius: 10px 10px 0 0;
    font-size: 35px;
}

.left {
    position: absolute;
    top: 50px;
    left: 10%;
    width: 50%;
    height: 90%;
    border: 2px solid black;
    border-radius: 10px;

    overflow: hidden;
}

.left label {
    color: black;
    margin-left: 60px;
}



#mainCanvas {
    position: relative;
    padding: 0;
    margin: auto;
    display: block;
    height: 66%;
    background-color: #FFFFFF;
}

#selectImage {
    position: relative;
    top: 10px;
    width: 100%;
    height: 20%;
    background-color: #B22222;
    border-radius: 10px;
    padding: 5px 0;
}

.submit {
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #FFFFFF 100%);
    border: 1px solid #e5a900;
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 60%;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
    margin-top: 1%;
    margin-left: 20%;
}

.submit:hover {
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

#file {
    color: red;
    padding: 5px;
    border: 5px solid #000000;
    background-color: #FFFFFF;
    margin-top: 2%;
    border-radius: 5px;
    box-shadow: 0 0 15px #626F7E;
    margin-left: 20%;
    margin-top: 1%;
    width: 60%;
}

#message {
    position: absolute;
    top: 120px;
    left: 815px;
}

#success {
    color: green;
}

#invalid {
    color: red;
}

#line {
    margin-top: 274px;
}

#error {
    color: red;
}

#error_message {
    color: blue;
}

#loading {
    display: none;
    position: absolute;
    top: 25px;
    left: 50%;
    font-size: 25px;
}